<% if signed_in? %>

<h1>Add a tire</h1>
<%= render 'shared/tire_form' %>

<% end %>

<!--%= render 'follow_form' if signed_in? %-->
      
<table class="pretty" summary="User tires">
  <th><%= sortable "width" %></th>
  <th><%= sortable "sidewall" %></th>
  <th><%= sortable "diameter" %></th>
  <th><%= sortable "condition" %></th>
  <th><%= sortable "quantity" %></th>
  <th>Price</th>
  <th>Random</th>

  <% if @user.tires.empty? %>
  <tr><td>No tires</td></tr>
  <% else %>
  <%= render @tires %>
  <% end %>
</table>
