
  
  <% if signed_in? %>
  <div class="round admin small_box center margin_auto">
    <span class="caps light_red">Add a tire</span>
    <%= render 'shared/tire_form' %>
  </div>
  <% end %>

  <!--%= render 'follow_form' if signed_in? %-->

  <% unless @last_modified.nil? %>
  <div class="updated">
    <span class="caps">Inventory updated:</span>
    <span id="inventory_updated"><%= time_ago_in_words(@last_modified) %> ago</span>
  </div>
  <% end %>



<table class="pretty" summary="User tires">
  <th><%= sortable "width" %></th>
  <th><%= sortable "sidewall" %></th>
  <th><%= sortable "diameter" %></th>
  <th><%= sortable "condition" %></th>
  <th><%= sortable "quantity" %></th>
  <th><%= sortable "price" %></th>
  <th>Random</th>

  <% if @user.tires.empty? %>
  <!-- tr><td>No tires</td></tr -->
  <% else %>
  <%= render @tires %>
  <% end %>
</table>
