<% if signed_in? %>

<div class="span-14 admin round">
  <div class="span-4"><h2 class="light_red zero_margin_bottom">Add a tire</h2></div>
  <div class="span-10 last"><%= render 'shared/tire_form' %></div>
</div>
    
<% end %>

<% unless @last_modified.nil? %>

<div class="span-23 inventory_last_updated">Inventory was last updated <%= time_ago_in_words(@last_modified) %> ago</div>

<% end %>

<% unless @user.tires.empty? %>
	<% previous_diameter = 0 %>
	<% iteration = 0 %>

	<% @tires.each do |t| %>
		<% if previous_diameter != t.diameter %>
			<% if iteration != 0 %>
				</table>
			<% end %>

			<table class="pretty" summary="User tires">
			  <tr class="diameter"><th colspan="6"><%= t.diameter %>"</th></tr>
			  <tr class="columns">
			    <th><%= sortable "width" %></th>
			    <th><%= sortable "sidewall" %></th>
			    <th><%= sortable "condition" %></th>
			    <th><%= sortable "quantity" %></th>
			    <th><%= sortable "price" %></th>
			    <th>Notes</th>		  
			  </tr>
		<% end %> 

		<%= render t %>
		<% previous_diameter = t.diameter %>
	<% end %>

	</table>
<% end %>
