<% if current_user?(@user) %>

<div class="span-14 admin round last">
  <div class="span-4"><h2 class="light_red zero_margin_bottom">Add a tire</h2></div>
  <div class="span-10 vertical_center last"><%= render 'shared/tire_form' %></div>
</div>
    
<% end %>

<% unless @last_modified.nil? %>

<div class="span-23 last">Inventory was last updated <span id="inventory_last_updated"><%= time_ago_in_words(@last_modified) %></span> ago</div>

<% end %>

<% unless @user.tires.empty? %>
	<% previous_diameter = 0 %>
	<% iteration = 0 %>

	<% @tires.each do |t| %>
		<% if previous_diameter != t.diameter %>

			<% if iteration != 0 %>
				</table>
			<% end %>

			<div class="span-2 top_round tab">
			  <%= t.diameter %> "
			</div>

			<table class="pretty" summary="User tires">
			  <!--tr class="diameter"><th colspan="6"><%= t.diameter %>"</th></tr-->
			  <thead>
			  <tr class="columns">
			    <th><a href="#">Width</a></th>
			    <th><a href="#">Sidewall</a></th>
			    <th><a href="#">Condition</a></th>
			    <th><a href="#">Quantity</a></th>
			    <th><a href="#">Price</a></th>
			    <th>Description</th>		  
			    <% if current_user?(@user) %><th>Delete</th><% end %>
			  </tr>
			  </thead>
		<% end %> 

		<%= render t %>
		<% previous_diameter = t.diameter %>
		<% iteration += 1 %>
	<% end %>

	</table>
<% end %>
