<%= form_for @tire, :html => { :class => "vertical_center" } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <%= f.select(:width, Tire::WIDTHS) %>
  <%= f.select(:sidewall, Tire::SIDEWALLS) %>
  <%= f.select(:diameter, Tire::DIAMETERS) %>
  <%= f.select(:condition, Tire::CONDITIONS.collect {|x| [ (x == "New" ? x : x.to_s + " %"), x ]}) %>
  <%= f.select(:price, Tire::PRICES.collect {|x| [ "$ " + x.to_s, x ]}) %>
  <%= f.text_field(:description) %>

  <span class="actions">
    <%= f.submit "Submit" %>
  </span>
<% end %>
