<% user = User.find(tire.user) %>

<tr>  
  <td><%= tire.width %></td>
  <td><%= tire.sidewall %></td>
  <td><%= tire.condition %> %</td>
  <td>

    <span class="tire_quantity vertical_middle" id="tire_<%= tire.id %>"><%= sprintf("%.2d", tire.quantity) %></span>
    <% if current_user?(user) %>
    	<div class="vertical_middle">
          <%= link_to "+", tire_path(tire, :op => 'inc'), :class => 'small_sign top_round', :method => :put, :remote => true %> 
	  <%= link_to "-", tire_path(tire, :op => 'dec'), :class => 'small_sign bottom_round', :method => :put, :remote => true %>
	</div>
    <% end %>

  </td>

  <td>$ <%= tire.price %></td>

  <% unless tire.created_at.nil? %>
     <td><%= tire.description %></td>
  <% end %>

  <% if current_user?(user) %>
     <td><%= link_to "X", tire, :method => :delete, :class => "small_sign round" %></td>
     <!--td><%= link_to "X", tire, :method => :delete, :confirm => "Are you sure?", :class => "big_sign round" %></td-->
  <% end %>

</tr>
