<header class="">
  <%= link_to logo, root_path %>

  <% if signed_in? %>
  <nav class="round">
    <div class="caps light_red center">ADMIN MODE</div>

    <ul>
      <!--li><span class="caps light_red">ADMIN MODE</span></li-->
      <li><%= link_to "Home", root_path %></li>
      <!-- li><%= link_to "Users", users_path %></li -->
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
